*.xopp
*.log
*.aux
*.fdb_latexmk
*.fls
*.toc
*.synctex.gz
*.bbl
*.bcf
*.blg
*.pdf
*.run.xml
Library/files/
.dep/
*.lot
*.lof
_minted-Main/
*.listing
*.theorem_list
*.locodecaption
*.synctex(busy)
*.fls
*.lofloatgrammar
*.locodecaption
*.out
*.vrb
*.snm
*.nav
*.pyg
*.lof
*.lot
*.run.xml
*.synctex.gz
_minted-main
_minted-report
sn-article-template
LaTeX2e+Proceedings+Templates+download
